.mainPage {
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -8px;
  max-width: 85%;
  background-color:#F8C8DC
}
.heading {
    color: #39b184;
}

body{
    background-color:#FEEACA;
    animation: 1.5s fadeInUp;
}
.site-title {
    font-size: 3rem;
    color: #F39800;
    font-weight: 700;
    text-align:center;
}

h4{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding-top:55px;
  text-align: center;
}

h1{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 500;
  padding-top:55px;
  text-align: center;
}


@keyframes fadeInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

