/*Header*/
#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    top: 35px;
    bottom: 100px;
}


/*Video*/
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

/*Character*/
#character-list
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: start;
}

#character-list > li{
    margin-left: 30px;
    margin-bottom: 30px;
}

.character-image:hover{
    opacity:.5;

}

#character-img-container
{
    position: absolute;
    left: 1250px;
    top: 2200px;
    width: 18%;
}

.character-image{
    transition: .5s;
    cursor:pointer;
}

#character-info
{
    position: absolute;
    left: 840px;
    top: 2200px;
    right: 650px;
}


/*Seiyuu*/
#seiyuu-list
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin-bottom: 200px;
}

#seiyuu-list > li {
    margin-left: 1em;
    margin-bottom: 1em;
    width: 70%;
    text-align: center;
}


/*Utility*/
.rounded-image {
    border-radius: 50%;
}

.scrolling-image {
    width: 100%;
    height: 166px;
    background-image: url('../images/logoScroll.png');
    animation: scroll 20s linear infinite;
}
#footer{
    width:100%;
    height:300px;
    background-color: #00A1E9;
}
.bttn{
    border-radius: 6px;
    font-size: 18px;
    padding: 16px 18px;
    cursor:pointer;
}
.bttn:hover{
    transition-duration: .5s;
    background-color: #00A1E9;
}



/*Animation*/
@keyframes scroll {
    0% { background-position: 0 0; }
    100% { background-position: -1494px 0; } 
}
