/*Site*/
.page-background{
    background-color:#9e4c99;
}
.page-color{
    background-color:#e1abc8;
}

/*Character*/
.special-border{
    border: 5px double #A3469D;
}
.data-displacement{
    top: 2700px;
}

/*Footer*/
.footer-color{
    background-color:#794085;
}
/*Utility*/
.scrolling-background {
    background-image: url('../images/liellaScroll.png');
    animation: scroll 20s linear infinite;
}

/*Animation*/
@keyframes scroll {
    0% { background-position: 0 0; }
    100% { background-position: -1826px 0; } 
}