/*Site*/
.page-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#f2b955;
}
.page-color{
    background-color:#f6f4e4;
}

/*Character*/
.special-border{
    border: 5px double #F39800;
}
.data-displacement{
    top: 2850px;
}

/*Footer*/
.footer-color{
    background-color:#e3945b;
}
/*Utility*/
.scrolling-background {
    background-image: url('../images/nijiScroll.png');
    animation: scroll 20s linear infinite;
}

/*Animation*/
@keyframes scroll {
    0% { background-position: 0 0; }
    100% { background-position: -1992px 0; } 
}